node_modules/
.env
.env.test
.env.production
.env.local
.env.development.local

# Hardhat files
cache/
artifacts/
coverage/
typechain/
typechain-types/

# Hardhat Ignition
ignition/deployments/chain-*/

# DS_Store
.DS_Store
.vscode/
*.log
**/node_modules/
